.app {
  background: #111;
}
div {
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
ul li {
  margin-bottom: 1em !important;
}
.top {
  transform: translate3d(0, 0, 0);
}
.fixed {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
hr {
  height: 1px;
  background: RGBA(255, 255, 255, 0.5);
  border: none;
  margin: 15px 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  border: 1px solid #000;
  padding: 10px;
  background: none;

  width: 100%;
  margin: 5px 0 0;
}
form > label {
  width: 100%;
}
.speech-bubble {
  position: relative;
  background: #3e4e6d;
  border-radius: 0.4em;
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
  margin-bottom: 40px !important;
  margin-right: 50px !important;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #3e4e6d;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
.fr {
  float: right !important;
}
#filled {
  border-radius: 5px;
}
.margintopMedia {
  margin-top: "400px";
}
.mySwiperCustom {
  margin-top: 10px;
}
@media only screen and (max-width: 320px) {
  .margintopMedia {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 410px) {
  .margintopMedia {
    margin-top: "340px";
  }
}

#myId {
  border-radius: 10px;
  border: none;
}
